@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');

* {
    transition: all 0.5s ease;
}
body {
    font-family: 'Poppins', sans-serif;
}
a {
    color: inherit;
}
header {
    display: flex;
    background-image: url('../img/creative-header-slide-1.png');
    background-size: cover;
    height: 98vh;
    width: 100%;
    flex-direction: column;

}

.logo {
    position: absolute;
    width: 78px;
    height: 48px;
    margin: 2% 0 0 2%;
}

.side-menu-button {

    width: 24px;
    height: 16px;
    align-self: flex-end;
    margin: 2%;
}

.main-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 96%;
    margin: 0 auto;
}

h1 {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 120px;
    font-weight: 600;
    letter-spacing: -6px;
    margin-top: 2%;
}

h4 {
    height: 37px;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    margin-top: 1%;

}

.view-portfolio-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #ffffff;
    background-color: transparent;
    margin-top: 5%;
}

.view-portfolio {

  
    color: #ffffff;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;
    cursor: pointer;

}

.header-icon {
    justify-content: center;
    align-self: center;
    margin-bottom: 2%;

}

.header-icon>i {
    width: 27px;
    color: #ffffff;
    font-size: 48px;
    line-height: 48px;
}

.items-picture {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 7%
}

.content-items-picture {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}


.items {
    width: 30%;
    padding: 0 4%;
}

.picture-1 {
    background-image: url(../img/graphic_1.png);
    background-size: 99%;
    background-repeat: no-repeat;
    width: 65%;
    height: 36vw;
}

.right-side-img {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: flex-end;
}

.right-side-img>h3 {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 80px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -4px;
    position: relative;
    transform: rotate(-90deg);
    margin: 171px 287px -168px 16px;
}

.relative-img-1 {
    position: relative;
    margin: 39px 0 0 0;
}

.relative-img-2 {
    position: relative;
    margin: 0 193px 0 0;
}

.relative-img-3 {
    position: relative;
    margin: -135px 165px 37px 29px
}

.relative-img-4 {
    position: relative;
    margin: -31px 98px 0 0;
}

.relative-img-5 {
    position: relative;
    margin: 274px 97px 0 0;
}

.relative-img-6 {
    position: relative;
}

.relative-img-8 {
    position: relative;
    margin: -272px 321px 0 0;
}

.picture-2 {
    background: url(../img/video_2.png);
    background-size: 99%;
    background-repeat: no-repeat;
    width: 65%;
    height: 36vw;
}

.video-h4 {
    position: relative;
    color: #ffffff;
    font-family: "Poppins";
    font-size: 80px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -4px;
    transform: rotate(-90deg);
    margin: 273px 299px -199px 16px;
}


.relative-img-9 {
    position: relative;
    margin: 69px 0 0 0;
}

.relative-img-10 {
    position: relative;
    margin: 0 193px 0 0;
}

.relative-img-11 {
    position: relative;
    margin: -73px 177px 0 0;
}

.relative-img-12 {
    position: relative;
    margin: 51px 129px 63px 0;

}

.relative-img-13 {
    position: relative;
    margin: -20px 44px -39px 0;

}

.relative-img-14 {
    position: relative;
    margin: -155px 290px 1px 0
}

.relative-img-15 {
    position: relative;
    margin: -84px 352px 0 0;
}

.relative-img-16 {
    position: relative;
    margin: 50px 0 16px 0;

}

.testimonial {
    width: 68%;
}

.items>h2 {
    color: #2a2d2e;
    font-family: "Poppins";
    font-size: 60px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: -4px;
}

.main-p {

    color: #2a2d2e;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    margin: 6% 0 6% 0;
}

.main-p-items {
    color: #72787a;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin: 6% 0 6% 0;
}

.get-me {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 64px;
    border-radius: 32px;
    border: 1px solid #2a2d2e;
    background-color: transparent
}

.get-me-items {
    color: #2a2d2e;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-decoration: none;
    cursor: pointer;

}



.panel {
    display: flex;
    justify-content: center;

}

.panel-items {
    color: #818586;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
    text-decoration: none;
    margin-left: 1%;
    margin-right: 1%;
    cursor: pointer;
}

.grid-conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
    grid-gap: 10px;


}

.subtitle {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.9px;
    margin-bottom: 6%;
}

.title {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.2px;

}

.grid-text {
    margin: 7%;
}

.grid-conteiner {
    margin: 5%;
}

.grid-conteiner>div {
    background-size: cover;
    min-height: 385px;
    min-width: 385px;
    display: flex;
    align-items: flex-end;
}




 .holder {
    position: relative;
    overflow: hidden;
    transition: 0.5s Ease;
}


.portfolio-hover {
    background-image: linear-gradient(209deg, rgba(2, 0, 36, 1) 0%, rgba(37, 37, 113, 1) 0%, rgba(33, 97, 65, 0.2) 0%);
    color: white;
    position: absolute;
    top: 100%;
    bottom:100px;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    transition: 0.5s Ease;
    line-height: 1;
}

.portfolio-item:hover .portfolio-item-text {
    display: none;
}

.holder:hover .portfolio-hover {
    top: 0px;
    cursor: pointer;
}

.portfolio-hover-btn:hover {
    background-color: #ffffff60;
    font-weight: 600;
}

.portfolio-icon-size {
    font-size: 60px;
    margin-bottom: 20px;
}

.portfolio-hover-btn {
    padding: 15px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    border: 4px solid #ffffff;
    border-radius: 32px;
    width: 150px;
    margin: 0 auto;
}

.portfolio-hover-btn a {
    color: #ffffff;
    text-decoration: none;
}

.portfolio .btn {
    margin: 0 auto;
}


.grid-item-1 {
    background: url(../img/photo_1.jpg);
    grid-area: 1/1/3/3;
}

.grid-item-2 {
    background: url(../img/photo_2.jpg);
    grid-area: 1/3/2/5;
}

.grid-item-3 {
    background: url(../img/photo_3.jpg);
    grid-area: 2/3/3/5;
}

.grid-item-4 {
    background: url(../img/photo_4.jpg);
    grid-area: 3/1/5/2;
}

.grid-item-5 {
    background: url(../img/photo_5.jpg);
    grid-area: 3/2/5/4;
}

.grid-item-6 {
    background: url(../img/photo_6.jpg);
    grid-area: 3/4/4/5;
}

.grid-item-7 {
    background: url(../img/photo_7.jpg);
    grid-area: 4/4/5/5;
}

.grid-item-8 {
    background: url(../img/photo_8.jpg);
    grid-area: 5/1/7/3;
}

.grid-item-9 {
    background: url(../img/photo_9.jpg);
    grid-area: 5/3/7/5;
}

.view-all {
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

.select-your-plans {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background: url(../img/pricetable-min.png);
    background-size: cover;
    height: 1080px;
    width: 100%;
}

.select-your-plans-items {
    align-self: center;
}

.your-plans {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 80px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -4px;
}

.plans {
    display: flex;
    justify-content: space-evenly;
}

.plans-items {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.plans-items>img {
    width: 128px;
    height: 128px;
}


.plans-img:hover {
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 125px;
    height: 125px;
    margin-bottom: -3px;
}


.plans-items>h4 {
    color: #ffffff;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -1.2px;
    margin-bottom: 20%;
}

.plans-items>a {

    color: #ffffff;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

.get-me-plans {
    width: 170px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid #ffffff;
    margin-top: 20%;

}

.get-me:hover {
    background: silver;
    transition: 0.5s;
}

.view-portfolio-item:hover {
    background: silver;
    transition: 0.5s;
}

.get-me-items-plans {

    color: #ffffff;
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1.2px;

}

.select-your-plans-items>p {

    color: #ffffff;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
}

.input-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.information {
    display: flex;
    flex-direction: column;
    width: 25%;

}

.input-section {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.tranmaut {
    color: #7443ff;
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 100px;
    text-transform: uppercase;
    letter-spacing: 2.64px;
    border-left: 3px #7443ff;
}

.keep-in-touch {

    font-family: "Poppins";
    font-size: 80px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: -4px;
}

.information>span {
    color: #2a2d2e;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.information>p {
    color: #72787a;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.input-text-icon>input {
    border: none;
    color: #72787a;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    border-bottom: #72787a 1px solid;

}

.envato-market {
    width: 26px;
    height: 26px;
    border: 1px solid #d1d1d1;
    color: #ffffff;
}

.line-black {
    margin: 0 auto;
    width: 1170px;
    height: 2px;
    background-color: #000000;
    opacity: 0.1;
}

.contact-information {
    display: flex;
    justify-content: center;
    width: 100%;

}

.about-contact {
    width: 25%;

}

.about-contact>h4 {
    color: #2a2d2e;
    font-family: "Poppins";
    font-size: 30px;
    font-weight: 500;
    line-height: 100px;
    letter-spacing: -1.5px;
    margin-bottom: 15%;

}

.about-contact>p {
    color: #2a2d2e;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;


}

.soc-icon {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url(../img/Background-gradient.png);
    background-size: cover;
    width: 100%;
    height: 220px;
}

.soc-icon>a {
    text-decoration: none;
    cursor: pointer;
}

.soc-icon-item:hover {

    border: 1px solid red;
    transition: 0.5s;
}

.soc-icon-item {
    font-size: 30px;
    color: #ffffff;
}

.cesis-newsletter {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;

}



.cesis-creative>img {
    position: relative;
}

.cesis-creative>h4 {
    display: inline;
    color: #262b40;
    font-family: "Poppins";
    font-size: 26px;
    font-weight: 400;
    letter-spacing: -1.04px;
    margin: 0 0 0 0;
}

.cesis-creative>p {
    color: #72787a;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.cesis-creative>a {
    text-decoration: none;
    color: #72787a;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 5%;
}

.subscribe-newsletter {
    display: flex;
    flex-direction: column;


}

.subscribe-newsletter>h5 {
    color: #262b40;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.72px;
    margin-bottom: 50%;
}

.subscribe-newsletter>input {
    width: ;
}

@media screen and (max-width: 1200px) {
    .grid-item-4 {
        background: url(../img/photo_4.jpg);
        grid-area: 3/1/5/3;
    }

    .grid-item-5 {
        background: url(../img/photo_5.jpg);
        grid-area: 3/3/5/5;
    }

    .grid-item-6 {
        background: url(../img/photo_6.jpg);
        grid-area: 3/1/5/3;
    }

    .grid-item-7 {
        background: url(../img/photo_7.jpg);
        grid-area: 5/3/6/5;
    }

    .grid-item-8 {
        background: url(../img/photo_8.jpg);
        grid-area: 6/1/7/3;
    }

    .grid-item-9 {
        background: url(../img/photo_9.jpg);
        grid-area: 6/3/7/5;
    }

}

  .contacts {
      padding: 5% 10%;
  }

  .contacts-top>div {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0 15px;
  }

  .contacts .btn-opacity {
      margin: 25px 0;
  }

  .contacts-top {
      display: flex;
  }

  .violet-border-left {
      color: #7443ff;
      font-size: 24px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 2.64px;
      padding-left: 30px;
      margin: 10px 0;
      border-left: 2px solid #7443ff;
      line-height: 24px;
  }

  .contacts>div {
      line-height: 50px;
          margin-bottom: 5%;
  }

  form{
      margin-bottom: 8%;
  }
  input:hover {
      border-color: #7443ff;
  }

  input+i {
      margin-left: -25px;
      color: rgba(116, 67, 255, 0.5);
      opacity: 0.5;
  }

  .contacts-top-right-part {
      display: flex;
      flex-direction: column;
  }

  .contacts-info {
      display: flex;
      justify-content: space-between;
      border-top: 2px solid rgba(0, 0, 0, 0.1);
  }
.contacts
  .title-contacts {
      color: #2a2d2e;
      font-size: 28px;
      font-weight: 600;
      letter-spacing: -1.5px;
      padding: 12% 0 3% 0;
  }

  .title-section {
      color: #2a2d2e;
      font-family: "Poppins";
      font-size: 60px;
      font-weight: 600;
      line-height: 100px;
      letter-spacing: -4px;
  }

  .text {
      color: #2a2d2e;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
      padding: 35px 0;
  }

  .text-small {
      color: #72787a;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      padding-bottom: 5%;
  }

  .contacts-info>div {
      padding-right: 15px;
  }

  .contacts-info li {
      color: #2a2d2e;
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
  }

  /*section contacts*/

  /*section social*/
  .social {
      background-color: #7443ff;
      background-image: linear-gradient(to right, #93eef9 0%, #7443ff 100%);
      display: flex;
      justify-content: space-around;
  }

  .soc-item {
      text-align: center;
      color: white;
      padding: 4vw 0;
      margin: 0;
      width: 100%;
  }

  .soc-item p {
      padding-top: 3vw;
      font-weight: 300;
      font-size: 14px;
      opacity: 0;
  }

  .soc-item:hover p {
      opacity: 1;
  }

  .soc-item+.soc-item {
      border-left: 1px solid rgba(255, 255, 255, 0.31);
  }

  .footer {
      margin: 5% 5% 0 5%;
      padding-bottom: 5%;
      border-bottom: 9px solid #14171d;
      display: flex;
      justify-content: space-between;

  }

  .left-part-footer {
      width: 50%;
  }

  .right-part-footer {
      width: 30%;
  }

  .footer-text {
      color: #72787a;
      font-size: 14px;
      font-weight: 400;
      line-height: 30px;
  }

  .logo-footer {
      display: inline-block;
      height: 70px;
      margin-right: 15px;
      margin-bottom: 20px;
  }

  .name-company-footer {
      color: #262b40;
      font-size: 26px;
      font-weight: 600;
      letter-spacing: -1.04px;
      display: inline-block;
      line-height: 70px;
  }

  .cesis-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }

  .subtitle-right-part-footer {
      color: #262b40;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.72px;
      line-height: 70px;
  }

input[type="text"],
select {
    border: none;
    border-bottom: 1px solid;
    width: 95%;
    height: 50px;
}
  /*FOOTER*/


@media screen and (max-width: 740px) {
    .grid-conteiner {
        display: flex;
        flex-direction: column;

    }

    .grid-conteiner>div {
        margin: 2% 0;
    }
}