@media screen and (max-width:1200px) {
    .main-banner>h1 {
        font-size: 100px;
        margin-top: 4%;
    }

    .header-subtitle {
        font-size: 20px;
        margin: 50px 0;
    }
    .items>h2{
        font-size: 35px;
        font-weight: 600;
        line-height: 50px;
        letter-spacing: -2px;

    }

    /* .plans{
        display: flex;
        flex-wrap: wrap;

    }
    .plans-items{
        width: 40%;
    } */

}

@media screen and (max-width: 900px) {

    h1{
        text-align: center;

    }
    h4 {
        margin: 10% ;
        text-align: center;
    }
    .content-items-picture {
        display: flex;
        flex-direction: column;
    }
    .items{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .picture-1, .picture-2 {
        
        width: 90%;
       
        margin:5%;
        
    }
    .items>h2, .items>p {
        text-align: center;
        margin: 0 5% 10% 5%; 
    }
   
    .get-me{
        align-self: center;
    }

    .panel{
        display: flex;
        flex-wrap: wrap;
        margin: 3%;
        
    }
    .panel>a {
        padding: 1%;
    }

    .plans {
        display: flex;
        flex-wrap: wrap;

    }

    .plans-items {
        width: 40%;
    }
    .select-your-plans{
        height: max-content;
        padding: 5% 0 5% 0;
    }
    .select-your-plans-items{
        text-align: center;
        margin:5%;
    }
    .contacts-top{
        flex-direction: column;

    }
    .contacts-top>div {
        width: 100%;
    }
    .contacts-info{
        flex-direction: column; 
    }
    .contacts-info>div{
        width: 80%;
        margin: 0 auto;
    }
    footer{
        flex-direction:column;
    }
    .left-part-footer {
        width: 100%;
    }
    .right-part-footer {
        width: 100%;
    }
}

